-
  track_name: {{ protein }}_binding_site_start
  bigwig_url: {{ protein }}-{{ assembly }}_binding_site_start.bw
  short_label: {{ protein }} binding site start
  long_label: Starting location of predicted {{ protein }} binding sites (site width = {{ site_width }})
-
  track_name: {{ protein }}_binding_level
  bigwig_url: {{ protein }}-{{ assembly }}_binding_level.bw
  short_label: {{ protein }} binding level
  long_label: Predicted in vitro {{ protein }} binding level
