{% for t in tracks -%}
track {{ t.track_name }}
bigDataUrl {{ t.bigbed_url }}
shortLabel {{ t.short_label }}
longLabel {{ t.long_label }}
type {{ t.type }}
visibility {{ t.visibility | default('dense') }}
priority {{ t.priority | default('20') }}
spectrum {{ t.spectrum }}
itemRgb {{ t.itemRgb }}

{% endfor %}
