-
  track_name: {{ protein }}_binding_site
  bigbed_url: {{ protein }}-{{ assembly }}_binding_site.bb
  short_label: {{ protein }} binding
  long_label: Predicted {{ protein }} binding sites (site width = {{ site_width }} )
