{% for t in tracks -%}
track {{ t.track_name }}
bigDataUrl {{ t.bigbed_url }}
shortLabel {{ t.short_label }}
longLabel {{ t.long_label }}
type {{ t.type | default('bigBed 5 .') }}
visibility {{ t.visibility | default('pack') }}
itemRgb {{ t.itemRgb | default('On') }}
priority {{ t.priority | default('20') }}

{% endfor %}
