hub {{ name }}
shortLabel {{ short_label }}
longLabel {{ long_label }}
genomesFile {{ genomes_file | default('genomes.txt') }}
email {{ email }}
descriptionUrl {{ description_url | default('http://www.genome.duke.edu') }}
