hub {{ hub.name }}
shortLabel {{ hub.short_label }}
longLabel {{ hub.long_label }}
genomesFile {{ hub.genomes_file | default('genomes.txt') }}
email {{ hub.email }}
descriptionUrl {{ hub.description_url | default('http://www.genome.duke.edu') }}
